@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root{
    
    /* //6A9C89 135D66*/
    --main-color: #77B0AA;
    --black: #003C43;
    --white: #fff;
    --light-color: #888;
    --light-bg: #eee;
    --box-shadow: 0.5rem 1rem rgba(0,0,0,0.1);
    --border: .1rem solid rgba(0,0,0,0.2);

}

*{
    font-family: "Dosis", sans-serif;
    box-sizing: border-box;
    margin: 0;padding: 0;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transform: .2s linear;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem ;

}

::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color)
}
body{
background: var(--white);
}

body:has(#themeToggler:checked){
    --black: #fff;
    --white: #111;
    --light-bg: #222;
    --box-shadow: 0.5rem 1rem #000;
    --border: 1rem solid rgba(255,255,255,0.2);
  
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    background-color: var(--main-color);
    color: var(--white);
    letter-spacing: 0.1rem;
}
.btn:hover{
    background-color: var(--black);
    color: var(--white);
    box-shadow:var(--box-shadow) ;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    color: var(--black);
    margin-bottom: 1rem;
}
.header{
    position: sticky;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    background: var(--black);
    border-bottom:  var(--border);
   
}
.header::before{
    content: '';
    position: absolute;
    bottom: -1rem;left: 0;
    height: 1rem;
    background-color: var(--main-color);
    width: 0%;
    animation: scrollIndicator linear;
    animation-timeline: scroll();
}
@keyframes scrollIndicator {
    to{
        width: 100%;
    }
}

body{
    height: 500rem;
}

.header .flex{
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 300;
}

.header .flex .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--light-color);
    transition: 0.5s all ease;
}
.header .flex .navbar a:hover{
    color: var(--main-color);
    font-size: 2.2rem;
    letter-spacing: 1px;
}
.header .flex input[type="checkbox"]{
    display: none;
}
.header .flex .icons a,
.header .flex .icons label{
    font-size: 2.5rem;
    margin-left: 2.5rem;
    font-weight: 300;
    color: var(--light-bg);
    cursor: pointer;
}
.header .flex .icons a:hover{
    color: var(--main-color);
}

.header .flex .icons label[for="menuBtn"]{
    display: none;
}

/* home section start */
 .home{
    background: url('https://images.pexels.com/photos/6453925/pexels-photo-6453925.jpeg?auto=compress&cs=tinysrgb&w=600'),no-repeat, linear-gradient(180deg, transparent, var(--main-color));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: bottom;
    min-height: 88vh;
    position: relative;
 }
 .home .content{
    position: absolute;
    bottom: 0;right: 0;left: 0;
    z-index: 1;
    text-align: center;
    margin-bottom: 1rem;
 }
 .home .content .logo_icon{
    width: 30rem;
    filter: drop-shadow(0 .5rem 1rem var(--light-bg));
    transform-origin: top;
    animation: float 2s linear infinite;
 }
 @keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
 }
 .home .content h3{
    font-size: clamp(3.5rem, 7.5rem, 11rem);
    color: var(--black);
 }
 .home .content p{
    font-size: clamp(3rem, 3rem, 5rem);
    color: var(--black);
    font-weight: 500;
    padding-bottom: 1rem;
 }
/* home section end */


/* about section start */
 .about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 .about .row .image{
    flex: 1 1  0.5rem;
 }
 .about .row .image img{
    width: 100%;
 }
 .about .row .image .content{
    flex: 1 1 40rem;
 }
 .about .row .content{
    flex: 1 1 40rem;
    padding: 3rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin-left: -5rem;
    background-color: var(--white);
 }
 .about .row .content h3{
    font-size: clamp(2rem, 4rem, 4rem);
    color: var(--main-color);
    margin-bottom: 1rem;
    font-weight: 200;
 }
 .about .row .content p{
    line-height: 1.8;
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 1rem 0;
 }
 .about .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 27rem);
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
   
 }
 
 .box{
    border-radius: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }
 .box-about{
    border: 1px solid var(--main-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    transition: 0.5s all ease;
 }
 .box-about:hover{
   transform: translateY(-1.5rem);
 }
  .about-icon{
    font-size: 14rem;
    color: var(--main-color);
    margin-left: 1rem;
 }
 .box h3{
    color: var(--black);
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
 }
/* about section end */

/* class section start */
 .classes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
 }
 .classes .box-container .box{
    text-align: center;
 }
 .classes .box-container .box img{
    height: 25rem;
    border-radius: .5rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    filter: grayscale(1);
    transition: 3s all ease-in;
 }
 .classes .box-container .box:hover img{
    filter: grayscale(0);
 }
 .classes .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 200;
 }
/* class section end */

/* services section start */
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.services .box-container .box-services{
    flex: 1 1 40rem;
    padding: 1rem;
    transition: 2s all ease;
}
.services .box-container .box-services:hover{
    transform: translateY(-2rem);
}
.services .box-container .box-services:nth-child(odd){
    text-align: right;
}
.services .box-container .box-services img{
    height: 35rem;
    margin-bottom: 1rem;
}

.services .box-container .box-services h3{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 400;
    padding: 1rem 0;
}
.services .box-container .box-services p{
    line-height: 2.8rem;
    font-size: 1.9rem;
    color: var(--light-color);
}
/* services section end */

/* price section start */
.prices{
    background-color: lightgrey;
}
.prices .box-container-prices{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
  align-items: center;
  justify-content: center;
  gap: 2rem; 
} 
.prices .box-container-prices .box-prices{
    padding: 2rem;
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
}
.prices .box-container-prices .box-prices .title{
    font-size: 2.2rem;
    color: var(--black);
    margin-bottom: 1rem;
}
.prices .box-container-prices .box-prices .list{
    padding: 1rem 0;
}
.prices .box-container-prices .box-prices .list p{
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.6rem;
}
.prices .box-container-prices .box-prices .amount{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;

}
.prices .box-container-prices .box-prices .amount span{
    font-size: 2rem;
    
}
.prices .box-container-prices .box-prices .amount p{
    font-size: 3rem;
    color: var(--black);
}
.prices .box-container-prices .box-prices  .btn{
   display: block; 
}
/* price section end */

/* review section start */
.reviews input[type="radio"]{
    display: none;
}

.reviews .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.reviews .row .content{
    flex: 1 1 40rem;
}
.reviews .row .content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--black);
}
.reviews .row .content p{
    line-height: 1.8;
    font-size: 1.8rem;
    color: var(--light-color);
}
.reviews .row .content .controls{
    text-align: center;
    margin-top: 2rem;
}
.reviews .row .content .controls label{
    display: inline-block;
    margin: 0 0.5rem;
    height: 2rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--light-bg);
}
.reviews .row .content .controls label:hover{
    background-color: var(--light-color);
}
.reviews .row .box-container-reviews{
    flex: 1 1 40rem;
    width: 50rem;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
}
.reviews .row .box-container-reviews .box-reviews{
flex: 1 0 100%;
text-align: center;
background-color: var(--light-bg);
padding: 2rem 3rem;
user-select: none;
border-radius: .5rem;
}
.reviews .row .box-container-reviews .box-reviews img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.reviews .row .box-container-reviews .box-reviews h3{
    font-size: 2rem;
    color: var(--black);
}
.reviews .row .box-container-reviews .box-reviews p{
    line-height: 1.8rem;
    color: var(--light-color);
    font-size: 1.8rem;
    padding: 1rem 0;
}
.reviews .row .box-container-reviews .box-reviews .stars{
    margin-top: 1rem;
}
.reviews .row .box-container-reviews .box-reviews .stars i{
    color: var(--black);
    font-size: 1.8rem;
}

/* slider */
#r1:checked ~  .row .box-container-reviews .box-reviews:first-child{
    margin-left: 0%;
}
#r2:checked ~ .row .box-container-reviews .box-reviews:first-child{
    margin-left: -100%;
}
#r3:checked ~ .row .box-container-reviews .box-reviews:first-child{
    margin-left: -200%;
}
#r4:checked ~ .row .box-container-reviews .box-reviews:first-child{
    margin-left: -300%;
}

#r1:checked ~ .row .content .controls label:nth-child(1),
#r2:checked ~ .row .content .controls label:nth-child(2),
#r3:checked ~ .row .content .controls label:nth-child(3),
#r4:checked ~ .row .content .controls label:nth-child(4){
    background-color: var(--black);
}
/* review section end */































/* Media Queries */

@media (max-width:991px) {
    
    html{
        font-size: 55%;
    }
}
@media (max-width:768px) {
    
    .header .flex .icons label[for="menuBtn"]{
        display: inline-block;

    }
    .header .flex .navbar{
        position: absolute;
        top: 100%;left: 0;right: 0;
        background: var(--black);
        padding: 2rem 3rem;
        border-top: .1rem solid var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar a{
        display: block;
        margin: 1rem 0;
        font-size: 2.5rem;
    }
    body:has(#menuBtn:checked) .header .flex .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .about .row .image img{
        display: none;
     }
}
@media (max-width:450px) {
    
    html{
        font-size: 50%;
    }
    .about .row .image img{
        display: none;
     }
}